

div h1{
    display: flex;
    justify-content: center;
    font-size: 100px;
}

h4{
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 40px;
}

form{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap:70px;
    margin: 40px 180px;
    /* border: 2px solid red; */
}

.container input:not(#btn),select{
    border: 0px;
    border-bottom: 2px solid rgb(110, 110, 9);
    background: transparent;
    font-size: 25px;
}

#btn{
    background: yellow;
    padding: 15px;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    border: 0;
    grid-column: 1/span 2;
    margin: 0px 400px ;
    
}

#btn:hover{
    background: rgb(182, 182, 70);
}


