@CHARSET "ISO-8859-1";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, rgb(252, 252, 4),rgba(255, 255, 255, 0.53));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    border: 2px solid rgb(182, 182, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background: linear-gradient(to bottom, rgb(252, 252, 4),rgba(255, 255, 255, 0.93));
    flex-direction:column;
}


input, select{
    width: 380px;
    height: 30px;
    border: 0;
    padding: 25px;
    color: black;
}

select{
    padding: 5px;
}

form a{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    align-items:center;
}

 form a:hover{
    transform: scale(1.2);
}

#btn{
    background: yellow;
    padding-top: 15px;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}

#btn:hover{
    background: rgb(182, 182, 70);
}

h3{
	display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    align-items:center;
}